*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0b1f33;
    /* width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; */
}
 .logoService{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 150px;
    height: 150px;
  
 }
.logoService img{
    width: 128px;
    height: 128px;
    object-fit: cover;
    z-index: 10;
    filter: saturate(5);
 }
.serviceHeader{
    width: 100vw;
    height: 80%;
}
.serviceBack{
    width: 100vw;
    height:150vh;
    overflow: hidden;
}
.serviceBack video{
    position: relative;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.3);
}
.textService{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: "Lobster Two", sans-serif;
    color: #eeddc4;
    color: 20px;
     transform: translateX(-50px);
     opacity: 0;
}
/* animation text headerService*/
.textService.ServiceView{
    opacity: 1;
    transform: translateX(0);
    animation: FadeService .7s ease-in-out;
   
}
@keyframes FadeService {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.textService h1{
    font-family: "Lobster Two", sans-serif;
    color: #fffda8;
    font-size: 45px;
    font-weight: 700;
    width: 500px;
}
.textService h2{
    width: 700px;

}
/* .textAdd{
    gap: 20px;
    width: 550px;
    height: 350px;
   
} */
 .textAdd{
    overflow: hidden;;
 }
 .textAdd p{
    width: 500px;
 }
.presentService{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    transform: translateX(-50px);
    opacity: 0;
}
                    /* nos service section*/
.presentService.ServiceP{
    opacity: 1;
    transform: translateX(0);
    animation: FadeSerp .7s ease-in-out;
}
@keyframes FadeSerp {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.presentService h1{
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    color: #fffda8;
    font-size: 45px;
    font-weight: 700;
}
.cartService{
    display: flex;
    justify-content: space-between !important;
    gap: 20px;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    align-items: center;
    background: linear-gradient(35deg,#b2d5e5, #020202 , #1f2634) ;
    backdrop-filter: blur(20px);
      transform: translateX(-50px);
      opacity: 0;
}
/*carte part */
.cartService.Carteview{
    opacity: 1;
    transform: translateX(0);
    animation: FadeCart .7s ease-in-out;
}
@keyframes FadeCart {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.cartService h2,i{
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    color: #fffda8;
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
}
.cartService p{
    font-size: 18px;
    color: #f5feff;
}


.squad{
    display: flex;
    flex-direction: column; 
    align-items: center;
  
    gap: 20px;
    width: 100%;
}
.squad h1{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
     font-family: "Lobster Two", sans-serif;
    color: #fffda8;
    font-weight: 700;
    padding: 20px;
}
.squad p{
    font-family: "Lobster Two", sans-serif;
}
.contentSquad{
    display: flex;
    width: 100%;
    height: 400px ;
}
.cartSquad{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 0 0 200px;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    transform: translateY(-50px);
}
/* animation de carte d'equipe */
.cartSquad.CarteSquad{
    opacity: 1;
    transform: translateY(0);
    animation: FadeSquad .7s ease-in-out;
}
@keyframes FadeSquad {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.cartSquad img{
    width: 250px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(0.4);
}
 .textSquad{
    display: flex;
    flex-direction: column;
    width: 225px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #dddddddd;
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
 }
 .textSquad h2{
    color: #fffda8;
    font-size: 22px;
    font-weight: 600;
 }
 .textSquad p{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
 }

     /* about part */

#about{
    width: 100%;
    height: 80vh;
}
  .presentation {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    transform: translateX(-50px);
    opacity: 0;
 }
 .presentation.presentView{
    opacity: 1;
    transform: translateX(0);
    animation: fadeAbout .7s ease-in-out;
    transition: all .6s ease-in-out;
 }
 @keyframes FadeAbout {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
 }
  .presentation img{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
 }
 .textPresent h1,h2{
    color: #fffda8;
    font-family: "Lobster Two", sans-serif;
 }
 .textP{
     padding: 20px;
 }
 .textPresent h3{
    color: #f2f2f2;
 }
 .history h1{
    color: #f5feff;
    font-family: "Lobster Two", sans-serif;
 }
 .history p{
    color: #f2f2f2;
 }
 .intro{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 50px;
     transform: translateY(-50px);
     opacity: 0;
}
.intro.valuerView{
    opacity: 1;
    transform: translateY(0);
   animation: FadeIntro .7s ease-in-out;
}
@keyframes FadeIntro {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.intro h1{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: "Lobster Two", sans-serif;
    color: #fffda8;
    font-weight: 700;
    padding: 20px;
}
.intro span{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  margin: 0 auto;
    padding: 20px; 
  border-bottom: 1px solid #b2d5e5;
    font-size: 18px;
    color: #f5feff;
  
}
.staticSection{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 20px;
    padding: 20px;
}
.statistic{
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
}
 .statistic div{
    display: flex;
    align-items: center;
    padding-top: 30px;
    /* margin: 0 auto;
    text-align: center; */
    font-size: 35px;
    font-weight: 700;
    color: #fffda8;
 }
 .StatHome{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
 }
 /* last part */
 .call{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 .textCall{
    display: flex;
    gap: 20px;
    width: 80%;
    height: 300px;
    align-items: center;
    transform: translateX(50px);
    opacity: 0;
 }
 .textCall.callView{
    opacity: 1;
    transform: translateX(0);
    animation: FadeCall .6s ease-in-out;
 }
 @keyframes FadeCall {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
       opacity: 1;
       transform: translateX(0); 
    }
 }
 .textCall img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
 }
 .textCall h1{
    color: #fffda8;
    font-weight: 600;
    font-family: "Lobster Two", sans-serif;
 }
 .textCall p{
    color: #f2f2f2;
    font-weight: 500;
 }
 .link{
    cursor: pointer;
 }
 .link a{
     width: 200px !important;
    border: 1px solid #eeddc4;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(5px);
    padding: 10px;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #eeddc4;
 }


