@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.present{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
   
}
.videoback{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    filter: brightness(0.3);
    
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Playfair Display', serif;
    z-index: 10;
    transform: translate(-20px);
    opacity: 0;
}
.text.view{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Playfair Display', serif;
    opacity: 1;
    z-index: 10;
     animation: fadeText .8s ease-in-out;
}
.text h1{
     font-family: "Lobster Two", sans-serif;
    width: 400px;
    color: #e9e3d5;
    visibility: visible;
    white-space: normal;
    font-size: 3rem;
    font-weight: 800;
    animation-delay: 0.6s;
}
.text p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 600;
    width: 800px;
    color: #e9e3d5;
    animation-delay: 0.8s;
}
#view{
    width:150px;
    height: 35px;
    border-radius: 20px;
    position: relative;
    left: 60px;
    top: 50px;
    border: none;
    color: #171717;
    font-size: 17px;
    font-weight: 400;
    font-family: "Lobster Two", sans-serif;
    z-index: 10;
    cursor: pointer;
    background: #778ca4;
    box-shadow: 2px 2px 3px ,-2px -2px #4f6271;
    transition: all .5s ease-in-out;
    opacity: 1;
}
#view.hide{
    opacity: 1;
     animation: push .5s ease-in-out;
}
#view a{
    position:absolute;
    top: 8px;
    color: #e9e3d5;
    left: 15%;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

#view:hover{
     transition: 0.6s ease;
    color: #e9e3d5;
    background: transparent;
}
@keyframes fadeText {
    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes push{
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}



 /* partie du header */
 .logo{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 150px;
    height: 150px;
  
 }
 .logo img{
    width: 128px;
    height: 128px;
    /* border-radius: 50%; */
    object-fit: cover;
    z-index: 1;
 }
.top{
    width: 100vw;
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-attachment: fixed;
    
}
.background{
    width: 100vw;
    height: 100vh;
    /* z-index: 1; */
}
.background img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter:brightness(0.2);
    z-index: 1000;
}

.menu{
    align-items: center;
    position: absolute;
    top: 20px;
    left: 40%;
    transition: all .8s ease-in-out;
    animation: fadeIn .5s ease-in-out ;
  
}
.menu .burger{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translateX(100px);
    opacity: 0;
    display: none;
    pointer-events: none;
}
.menu li{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #e9e3d5;
    font-family: "Lobster Two", sans-serif;
    transition: all .8s ease-in-out;
}
.menu a:hover{
    color: #fffda8;
}
.menu a::before{
    content: '';
    position:absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 2px;
    background: #eeddc4;
    transition: all .8s ease-in-out;
}
.menu a:hover::before{
    
    width: 100%;
}
.textHeader{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    position: absolute;
    top: 35%;
    left: 10%;
    color: #e9e3d5;
}
.textHeader.viewText{
    font-size: 42px;
    color: #fffda8;
    font-weight: 600;
    font-family: "Lobster Two", sans-serif;
    transform: translateX(-50px);
    opacity: 0;
    transition:all .6s ease-in-out;
    animation: fadeIn .5s ease-in-out;
   
}
.textHeader h1{
    font-size: 42px;
    color: #fffda8;
    font-weight: 600;
    font-family: "Lobster Two", sans-serif;
     transition: all .8s ease-in-out;
     animation: fadeIn .6s ease-in-out ;
     /* animation-duration: .8s; */
}

.textHeader p{
    width: 500px;
    font-size: 20px;
    font-weight: 400;
     transition: all .8s ease-in-out;
    animation: fadeIn .7s ease-in-out ;
    /* animation-duration: .9s; */
}

.textHeader h5{
    font-size: 21px;
    font-weight: 600;
    font-family: "Lobster Two", sans-serif;
    width: 550px;
    transition: all .8s ease-in-out;
   animation: fadeIn .8s ease-in-out;
   /* animation-duration: .7s; */
}

@keyframes fadeIn {
    from{
        transform: translateX(-50px);
         opacity: 0  
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

