.propriety{
    background: linear-gradient(190deg, #0b1f33,#30495e);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.propText{
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    font-family: "Lobster Two", sans-serif;
}
 #home{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
 }
 .ask{
    width: 100%;
    height: 500px;
 }
.cart{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 350px;
    height: 350px;
}
